@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(0, 51, 102);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://media.indiedb.com/images/members/4/3083/3082063/Nyancatless20110725-22047-2vf3z5.1.gif");
  background-size: 300px 300px;
  background-position: center;
}

h1{
  font-family: system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

